<!doctype html>
<html>
  <head>
    <title>Music Signature</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <style type="text/css">
      body{margin:0}
    </style>
  </head>

  <body>

    <div class="container">

      <a href="/login">Login With Spotify</a>
    </div>

  </body>
</html>

