<!doctype html>
<html>
  <head>
    <title>Music Signature</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <style type="text/css">
      .container
      {
        color: black;
        position: fixed;
        text-align: center;
        height: 100vh;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
      }

      a{text-decoration: none}

      h1
      {
        font-size: 90px;
        font-family: CircularBlack;
        margin-top: 200px;
      }
      h2
      {
        font-size: 35px;
        margin:0 0 20px 0;
      }





      .footer
      {
      position: absolute;
        bottom: 50px;
        display: flex;
        flex-direction: column;
      }

      .footer h6{font-size: 18px;margin:0;line-height: 30px;}
      .footer h6 a{text-decoration: underline;color: black;}



      @media screen and (max-width: 768px)
      {
        h1
        {
          font-size: 42px;
          font-family: GraphikBold;
          margin-top: 60px;
        }
        .container
        {
          /*height: 100vh;*/
        }
        h2
        {
          font-size: 22px;
          margin:0 0 15px 0;
          line-height: 30px;
        }

        .footer
        {
          bottom: 100px;
          margin: 0 auto;
          left:0;right:0;
        }
        .footer h6{font-size: 15px;line-height: 30px;}


      }
    </style>
  </head>

  <body>

    <div class="container">
      <div class="circle right"></div>
      <div class="circle left"></div>
      <div class="info-wrap">
      <h1>Music Signature</h1>
      <h2>A person’s music taste is unique as their fingerprint.</h2>
      <h2>This project analyzes & visualizes your Spotify library.</h2>
      <a class="button" href="/login">Login</a>
      </div>
        <div class="footer">
          <h6>Project by <a href="http://maxs.space">Max Kurapov</a> </h6>
          <h6><a href="https://github.com/mkurapov/music-signature">Github Repo</a> </h6>
          </div>
    </div>

  </body>
</html>

