<!doctype html>
<html>
  <head>
    <title>Music Signature</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <style type="text/css">
      #loader {
        height: 50px;
        width: 50px;
        position: absolute;
        margin:auto;
        top: 0; left: 0; bottom: 0; right: 0;
        animation: rotate 2s linear infinite;
        transition: opacity 0.3s ease-out;
      }

      .path {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
        animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
        stroke-linecap: round;
        stroke: var(--project-green);
      }

      @keyframes rotate {
        100% {
          transform: rotate(360deg);
        }
      }

      @keyframes dash {
        0% {
          stroke-dasharray: 1,200;
          stroke-dashoffset: 0;
        }
        50% {
          stroke-dasharray: 89,200;
          stroke-dashoffset: -35;
        }
        100% {
          stroke-dasharray: 89,200;
          stroke-dashoffset: -124;
        }
      }
      .container
      {
        position: relative;
        padding: 100px 0;
        /*height: 100vh;*/
        margin: 0 auto;
        width: 100%;

        display: flex;
        justify-content: center;
        overflow: hidden;
        flex-direction: column;
      }
      #music-signature
      {
        position: relative;
        display: block;
        
        margin: 30px 0 0 0;
        width:100%;
        max-width: 1000px;
        height:auto;
        /*height:400px;*/
        /*max-height: 850px;*/
        align-self: center;
        transition: opacity 0.3s ease-out;
      }

      .name
      {
        font-family: CircularBlack;
        font-size: 75px;
        margin: 0 0 70px 0;
      }
      .info-wrap
      {
        width: calc(100% - 40px);
        margin: 0 auto;
        max-width: 1000px;
        opacity: 0;
        transition: opacity 0.3s ease-out;
      }
      .info
      {
        font-size: 45px;
        margin: 40px 0 0 0;
        line-height: 65px;
        /*font-family: GraphikBold;*/
      }

      .info span{font-family: GraphikBold}
      .info span.orange{color:var(--project-orange);}
      .info span.blue{color:var(--project-blue);}
      .info span.purple{color:var(--project-purple);}
      .info span.green{color:var(--project-green);}


      @media screen and (max-width: 768px)
      {
        .container
        {
          padding-top: 40px;
        }
        .name
        {
          margin: 0 0 60px 0;
          font-size: 40px;
        }
        .info
        {
          font-size: 23px;
          line-height: 33px;
        }

      }

    </style>
  </head>

  <body>
  <div id="loader">

    <svg id="circular" height="50" width="50">
      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
    </svg>
  </div>
    <div class="container">
      <!--<div class="circle right"></div>-->
      <!--<div class="circle left"></div>-->
      <div class="info-wrap">
        <h2 class="name"></h2>
        <h3 class="info"></h3>
        <h3 class="info"></h3>
        <h3 class="info"></h3>
        <h3 class="info"></h3>
        <h3 class="info"></h3>
        <h3 class="info"></h3>
      </div>

      <canvas id="music-signature" class="fadeOut" width="1000" height="400"></canvas>


      <div class="info-wrap">
        <a id="download-image" class="button">Download</a>
      </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.2/fetch.min.js"></script>
    <script src="js/music-signature.js" type="text/javascript"></script>
    <script>
      window.onload = generateSignature(<%-JSON.stringify(accessToken) %>);
    </script>
  </body>
</html>

